<mat-toolbar color="primary">
  <span>Employee Management</span>
  <span class="spacer"></span>

  <button mat-icon-button aria-label="Add employee" (click)="openDialog(null)">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="content" id="main-container">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex="25%"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let employee of employees"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title
            >{{ employee?.firstName }} {{ employee?.lastName }}</mat-card-title
          >
        </mat-card-header>
        <img
          mat-card-image
          src="{{ employee?.imageURL }}"
          height="400"
          style="object-fit: cover"
        />
        <mat-card-content>
          <p>Email: {{ employee?.email }}</p>
          <p>Phone: {{ employee?.phoneNumber }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openDialog(employee)">
            <mat-icon>edit</mat-icon>
          </button>
          <span class="spacer"></span>
          <button mat-button (click)="deleteDialog(employee)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div
    *ngIf="employees.length == 0"
    fxLayout="column"
    fxLayoutAlign="center center"
    style="height: 20vh; width: 100vw"
  >
    <p>No employees found!</p>
    <p>Please add a new employee.</p>
  </div>
</div>
