@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.form-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas: ". .";
}
